@media only screen and (max-width: 600px) {
  .wrap-box-1,
  .wrap-box-2 {
    display: flex;
    flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  padding: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header {
  color: hsla(206, 56%, 22%, 1);
  background-color: white;
  text-align: center;
  font-size: 60px;
  margin: 0px;
}

.wrap-box-1 {
  margin: 20px 0px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box {
  border: 2px solid rgba(136, 136, 136, 0.61);
  width: 333px;
  height: 268px;
  border-radius: 10px;
  padding: 30px;
  position: relative;
}

.item .fas {
  font-size: 30px;
  color: orangered;
  background-color: rgba(255, 107, 8, 0.267);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.item-cash .fas {
  font-size: 30px;
  color: white;
  background-color: orangered;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.item-1 {
  color: hsla(206, 56%, 22%, 1);
  font-size: 30px;
  position: absolute;
  bottom: 60px;
}

.item-2 {
  color: hsla(207, 19%, 44%, 1);
  font-size: 15px;
  position: absolute;
  bottom: 30px;
}

.item-3 .fas {
  color: hsla(206, 56%, 22%, 1);
  position: absolute;
  font-size: 15px;
  bottom: 30px;
  right: 20px;
}

.wrap-box-2 {
  flex-wrap: wrap;
  display: flex;
  margin: 20px 0px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box.order {
  background-color: orangered;
  border: 2px solid orangered;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.box.order .fas {
  font-size: 15px;
  position: absolute;
  right: 30px;
  bottom: 100px;
}
